1.py
dane/wojewodztwa.cpg
dane/wojewodztwa.dbf
dane/wojewodztwa.prj
dane/wojewodztwa.qmd
dane/wojewodztwa.shp
dane/wojewodztwa.shx
.vscode/settings.json
source_data/~$zamachy_samobojcze_stan_cywilny_wyksztalcenie_info_o_praca_nauka_2017-2025.xlsx
